<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}CoderHouse</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1> Proyecto de Backend </h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/upload">Subir Archivo</a>
            <a href="/productos">Productos</a>
            <a href="/chat">Chat</a>

        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>©2026 - Sofia Arano Ibarra | Backend</p>
    </footer>

</body>

</html>
