{{!< main}} {{!-- extiende de main.hbs --}} <section class="container">
    <h2>Error 404</h2>
    <p class="alert">¡La Página que estas buscando no exite!</p>
    <p>Puede que hayas escrito mal la direccion o que la página haya sido movida</p>
    <a href="/" class="btn-volver">Volver a Inicio</a>
</section>