{{!< main}} {{!-- extiende de main.hbs --}} <section class="container">
    <h2>¡Bienvenido!</h2>
    {{#if msg}}
    <p class="alert">{{msg}}</p>
    {{/if}}
    <p>En este proyecto veremos:</p>
    <ul>
        <li>Motor de Plantillas <strong>Handlebars</strong></li>
        <li>Ruteo Modular <strong>Router</strong></li>
        <li>Carga de Archivos con <strong>Multer</strong></li>
        <li>Recursos estáticos en <strong>Public</strong></li>
    </ul>
    <div class="container logo">
        <img src="/img/logo.png" alt="Logo">
    </div>
    </section>
